* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(225, 224, 224);
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: opacity(80%);
  z-index: -1;
}

.welcome {
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.welcome h1 {
  margin: 0;
  font-family: "Pacifico", cursive;
  font-size: 70px;
  color: white;
  letter-spacing: 20px;
  text-shadow: 2px 2px 20px black;
}

.welcome p {
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 2px 2px 50px black;
  letter-spacing: 2px;
}

.welcome a {
  text-decoration: none;
  background-color: white;
  padding: 10px 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(43, 43, 43);
  border-radius: 10px;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: letter-spacing 0.5s;
  box-shadow: 2px 2px 50px black;
}

.welcome a:hover {
  letter-spacing: 5px;
}

#intro {
  position: relative;
}

#intro img {
  position: absolute;
  width: 40%;
  left: 10px;
  top: 50px;
  opacity: 0.07;
  z-index: -1;
}

#navbar {
  position: relative;
  height: 50px;
  text-align: center;
  background-color: rgb(225, 224, 224);
  position: sticky;
  top: 0;
  z-index: 1000;
}

#navbar ul {
  margin: 0px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

#navbar ul li {
  position: relative;
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: inline;
  margin: 20px 15px;
  font-size: 20px;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#navbar a::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: 5;
  bottom: -1px;
  right: 0;
  border-bottom: 2px #925e78 solid;
  opacity: 0;
  transition: opacity 0.25s;
}

#navbar a:hover::after {
  opacity: 1;
}

#navbar ul li:hover {
  font-weight: bold;
  cursor: pointer;
}

#intro {
  height: 100vh;
}

#spots {
  margin-bottom: 200px;
  position: relative;
}

.binoculars {
  position: absolute;
  opacity: 0.07;
  right: 5%;
  top: 5%;
  transform: rotate(15deg);
}
.parade {
  position: absolute;
  opacity: 0.07;
  left: 5%;
  top: 25%;
}
.church {
  position: absolute;
  opacity: 0.07;
  right: 5%;
  top: 45%;
}
.shrine {
  position: absolute;
  opacity: 0.07;
  left: 5%;
  top: 62%;
}

.museum {
  position: absolute;
  opacity: 0.07;
  right: 5%;
  top: 85%;
}

.heading1 {
  color: #16697a;
  margin: 0;
  font-size: 60px;
  text-align: center;
  font-family: "Pacifico", cursive;
}

.intro_paragraph {
  width: 70%;
  font-family: "Poppins", sans-serif;
  margin: 200px auto;
  font-weight: bold;
  text-indent: 50px;
  text-align: justify;
}

.content_container {
  width: 100%;
  padding-top: 50px;
  min-height: 100vh;
}

.sub_title {
  width: 70%;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  text-indent: 50px;
  text-align: center;
}

.spot_image {
  width: 80%;
  margin: 100px auto 150px auto;
}

.spot_image#san_juanico img {
  width: 40%;
  border: 2px black solid;
  box-shadow: 10px 10px 30px black;
}

.spot_image#san_juanico .img_description {
  margin: 0;
  width: 60%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}

.img_description h2 {
  color: #925e78;
  margin: 0;
}

#cultures {
  position: relative;
}

.fork {
  position: absolute;
  opacity: 0.07;
  top: 5%;
  left: 1%;
}
.masks {
  position: absolute;
  opacity: 0.07;
  top: 60%;
  right: 1%;
}

.food_and_culture {
  width: 90%;
  margin: 60px auto;
  text-align: center;
}

.img_hoverable {
  display: inline-block;
  position: relative;
  transition: 0.25s;
}

.img_hoverable:hover {
  transform: translateY(-20px);
}

.img_hoverable img {
  margin: 0px 50px;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 5px 5px 20px black;
  border: 1px black solid;
  /* float: left; */
  filter: contrast(1.5);
}

.overlay {
  position: absolute;
  content: "";
  background-color: black;
  width: 300px;
  height: 400px;
  z-index: 5;
  margin: 0px 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.25s;
  color: white;
  opacity: 0;
  font-family: "Poppins", sans-serif;
}

.overlay:hover {
  opacity: 1;
}

.food_culture_description {
  padding: 20px 10px;
}

.food_culture_btn {
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
}

.food_culture_title {
  color: #925e78;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#hotels {
  min-height: 100vh;
  position: relative;
}

.night {
  position: absolute;
  opacity: 0.07;
}

.hotel_card-container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.hotel_card-container a {
  text-decoration: none;
}

.hotel_card {
  position: relative;
  height: 200px;
  margin: 20px 20px;
  display: inline-block;
  width: 600px;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  /* box-shadow: 3px 3px 20px black; */
  border: 1px solid #16697a;
  cursor: pointer;
  transition: transform 0.25s;
}

.hotel_card:hover {
  transform: translate(5px, 5px);
  border: none;
}

.hotel_card-img {
  float: left;
  width: 200px;
  height: 100%;
}

.hotel_card-img img {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
  filter: contrast(1.3);
}

.hotel_card-content {
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
  padding: 10px 15px;
}

.hotel_card-heading {
  color: #925e78;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.hotel_card-body {
  color: #0b0a07;
  text-align: left;
  padding: 20px 10px;
  font-family: "Poppins", sans-serif;
}

.hotel_card-footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffa62b;
}

.book {
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 100%;
  right: 0;
  /* background-color: #f24236; */
  z-index: 2;
  writing-mode: vertical-rl;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #f24236;
  opacity: 0;
  transition: opacity 0.25s;
  letter-spacing: 5px;
  border-radius: 10px;
  font-size: large;
  border: 2px #f24236 solid;
}

.book:hover {
  opacity: 1;
}

#comments {
  position: relative;
}

.comment_container {
  margin: 50px auto;
  width: 80%;
  text-align: center;
}

.comment_box {
  min-width: 50%;
  max-width: 50%;
  height: 300px;
  margin-bottom: 50px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #16697a;
}

.comment_submit {
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border: 1px #16697a solid;
  background-color: #16697a;
  color: #ffa62b;
  cursor: pointer;
}

.comment_submit:hover {
  color: white;
}

.comment_img {
  position: absolute;
  opacity: 0.07;
  top: 40%;
  right: 10%;
  z-index: -1;
  transform: rotate(15deg);
}
.comment_img2 {
  position: absolute;
  opacity: 0.07;
  top: 10%;
  left: 10%;
  z-index: -1;
  transform: rotate(-15deg);
}

.social_media {
  position: relative;
  width: 80%;
  height: 200px;
  margin: 0 auto;
}

.social_media-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.social_media span {
  margin: 0px 10px;
}
.social_media img {
  width: 50px;
}

.social_media a {
  text-decoration: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.turn-five-degrees {
  transform: rotate(5deg);
}

.turn-negative-five-degrees {
  transform: rotate(-5deg);
}

.text-end {
  text-align: end;
}

.top a {
  font-size: 30px;
  text-decoration: none;
  background-color: white;
  padding: 10px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(43, 43, 43);
  border-radius: 30px;
  margin: 0;
  position: fixed;
  bottom: 5px;
  right: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
